* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-clr: hsl(140 80% 65%);
  --secondary-clr: hsl(180 75% 25%);
  --light-neutral-clr: hsl(0 0% 50%);
  --neutral-clr: hsl(0 0% 18%);
  --dark-neutral-clr: hsl(0 0% 5%);
  --text-primary-clr: hsl(0 0% 90%);
  --text-secondary-clr: hsl(0 0% 70%);

  --focus-outline-clr: hsl(240 70% 70%);
  --background-stripes-clr: hsl(0 0% 7%);
  --semi-transparent-overlay-clr: hsl(0 0% 0% / 0.5);
}

:root {
  width: max(100%, 30rem);
  height: max(100dvh, 30rem);
  color: var(--text-primary-clr);
}

body {
  height: 100%;
  display: grid;
  grid-template-rows: max-content 1fr;
}
