.controls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem 3rem;
  padding: 1rem;

  background-color: var(--neutral-clr);
  border-bottom: 1px solid var(--light-neutral-clr);
  color: var(--text-primary-clr);
  font-weight: 500;
}

.button {
  font: inherit;
  padding: 0.125rem;
}
