.main {
  height: 100%;
  display: grid;
  grid-template-rows: 3rem 1fr;
}

.contentSection {
  display: grid;
  grid-template-columns: 6rem 1fr;
  background-color: var(--dark-neutral-clr);
}

.display {
  position: relative;
  width: 100%;
  height: 100%;
}
