.controls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem 3rem;
  padding: 0.5rem 1rem;

  background-color: var(--neutral-clr);
  border-bottom: var(--light-neutral-clr) 1px solid;
  color: inherit;
  font-weight: 500;
}

.button {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.375rem;

  border-radius: 50%;
  background-color: inherit;
  border: var(--text-primary-clr) 0.25rem solid;
  outline: transparent 0.125rem solid;
  outline-offset: 1px;
  color: inherit;
  font: inherit;
  cursor: pointer;

  transition-property: background-color, border-color;
  transition-duration: 200ms;
  @media (prefers-reduced-motion) {
    transition: none;
  }

  &:hover,
  &:focus-visible {
    background-color: var(--secondary-clr);
  }
  &:focus-visible {
    outline-color: var(--focus-outline-clr);
  }
}

.restartButton > .buttonIcon {
  transition: rotate 200ms;
}
.restartButton:hover > .buttonIcon,
.restartButton:focus-visible > .buttonIcon {
  @media (prefers-reduced-motion: no-preference) {
    rotate: -45deg;
  }
}
