.main {
  height: 100%;
  display: grid;
  grid-template-rows: 3rem 1fr;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  background-color: var(--neutral-clr);
  border-bottom: 1px solid var(--light-neutral-clr);
}

.section {
  background-color: var(--dark-neutral-clr);
  width: auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: 6rem 1fr;
}
