.gridWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  container-type: size;
}

.grid {
  display: grid;
  --tile-size: min(100cqw / var(--columns), 100cqh / var(--rows));
  grid-template-rows: repeat(var(--rows), var(--tile-size));
  grid-template-columns: repeat(var(--columns), var(--tile-size));
}

.gridCell {
  position: relative;
  background-image: url("../../public/other/grid-cell-background.svg");

  @media (prefers-reduced-motion: no-preference) {
    opacity: 0;
    translate: 0 1rem;
    animation: fade-in 0.5s ease-out forwards;
    animation-delay: calc(var(--animation-delay-mult) * 300ms);
    /* Atraso entre 0ms e 300ms */
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
    translate: 0 0rem;
  }
}

.tileImage {
  display: block;

  @media (prefers-reduced-motion: no-preference) {
    transition: scale 300ms;
    scale: var(--image-scale, 1);
  }
}
