.label {
  display: block;
  position: relative;
  --input-width: calc(3ch + 2rem); /* tamanho para 3 dígitos */
}

.label::after {
  /* sublinhado do campo numérico */
  content: "";
  box-sizing: border-box;
  position: absolute;
  display: block;

  --horizontal-inset: 0.375rem;
  right: var(--horizontal-inset);
  bottom: 0.25rem;
  width: calc(var(--input-width) - 2 * var(--horizontal-inset));
  height: 0.125rem;

  background-color: var(--dark-neutral-clr);
}

.input {
  width: var(--input-width);
  margin-left: 0.5rem;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;

  border-radius: 0.25rem;
  background-color: var(--text-primary-clr);
  border: none;
  outline: transparent 0.125rem solid;
  outline-offset: 1px;
  color: var(--dark-neutral-clr);
  font: inherit;

  transition-property: background-color, outline-color;
  transition-duration: 200ms;

  &:hover,
  &:focus-visible {
    background-color: var(--text-secondary-clr);
  }
  &:focus-visible {
    outline-color: var(--focus-outline-clr);
  }
}
