.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-left: 6.75rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--semi-transparent-overlay-clr);
}

.playButton {
  position: relative;
  width: 4.5rem;
  height: 4.5rem;

  border-radius: 50%;
  background-color: var(--neutral-clr);
  border: var(--text-primary-clr) 0.25rem solid;
  outline: transparent 0.125rem solid;
  outline-offset: 1px;
  cursor: pointer;

  transition-property: background-color, outline-color;
  transition-duration: 200ms;

  &:hover {
    background-color: var(--secondary-clr);
  }
  &:focus-visible {
    outline-color: var(--focus-outline-clr);
  }
}
