.pauseOverlay {
  background-color: var(--semi-transparent-overlay-clr);
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playButton {
  position: relative;
  width: 4rem;
  height: 4rem;

  border: none;
  border-radius: 50%;
  background-color: var(--neutral-clr);
  cursor: pointer;
  outline: var(--primary-clr) 0.25rem solid;
  transition-property: background-color, outline-color;
  transition-duration: 200ms;

  &:hover,
  &:focus-visible {
    background-color: var(--dark-neutral-clr);
  }
  &:focus-visible {
    outline-color: var(--focus-outline-clr);
  }
}
