.tilesetSelector {
  background-color: var(--neutral-clr);

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-left: 1rem;
  overflow: hidden;
}
