.tilesetOptionButton {
  width: 100%;
  aspect-ratio: 1;
  padding: 0.5rem;
  translate: 1rem;

  border: none;
  border-radius: 1rem 0 0 1rem;
  background-color: var(--neutral-clr);
  outline: var(--dark-neutral-clr) solid 0.25rem;

  transition-property: background-color, outline-color, translate;
  transition-duration: 200ms;

  &:hover,
  &:focus-visible {
    outline-color: var(--selection-clr);
  }
  &.selectedTileset {
    background-color: var(--dark-neutral-clr);
    translate: 0;
  }
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  border-radius: 0.5rem 0 0 0.5rem;
  display: block;
}
