.tilesetSelector {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 1rem 1rem 0;
}

.tilesetOptionButton {
  z-index: 1;
  height: 5.5rem;
  padding: 1rem 1rem 1rem 2.5rem;
  translate: -1.5rem;

  background-color: inherit;
  border: none;
  border-radius: 0 1rem 1rem 0;
  outline: transparent 0.125rem solid;
  cursor: pointer;

  transition-property: background-color, outline-color, border-color, translate;
  transition-duration: 200ms;
  @media (prefers-reduced-motion) {
    transition-property: none;
  }

  &:hover,
  &:focus-visible {
    background-color: var(--neutral-clr);
  }
  &:focus-visible {
    outline-color: var(--focus-outline-clr);
  }
  &:disabled {
    /* quando selecionado */
    translate: 0rem;
    background-color: var(--primary-clr);
    cursor: auto;
  }
}

.imageWrapper {
  position: relative;
  aspect-ratio: 1;
  height: 100%;
}

.image {
  display: block;
  border-radius: 0.25rem;
  border: var(--dark-neutral-clr) 1px solid;
  outline: var(--text-primary-clr) 0.25rem solid;
  box-shadow: var(--dark-neutral-clr) 0 0 0 calc(0.25rem + 1px);
}
